@import "variables";

div.cart {
  top: 0;
  right: 0;
  width: 450px;
  position: fixed;
  height: 100vh;
  background-color: ivory;
  color: black;
  z-index: 100;
  overflow: scroll;
  .cartContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 10px;
    .closeIcon {
      cursor: pointer;
      font-size: 3rem;
      font-weight: 600;
      &:hover,
      &:focus {
        color: rgb(69, 69, 69);
      }
    }
  }
  .cartItems {
    display: flex;
    flex-direction: column;
    h2 {
      font-family: $primaryFont;
      font-size: 1.5rem;
      margin: 15px auto;
    }
  }
  .albumList {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .albumCartDisplay {
    padding-top: 30px;
    text-align: center;
    font-family: $primaryFont;
    img {
      width: 70%;
      height: 70%;
      margin: 0 auto;
    }
    .albumCartName {
      font-size: 1.1rem;
    }
    .artistCartName {
      font-size: 0.8rem;
      padding-top: 5px;
    }
    .albumPrice {
      padding-bottom: 20px;
      border-bottom: 1px solid black;
    }
  }
  .imageCartContainer {
    position: relative;
    display: flex;
    justify-content: center;
    .removeFromCart {
      position: absolute;
      height: 100%;
      width: 70%;
      top: 0;
      opacity: 0;
      text-align: center;
      padding-top: 25%;
      font-family: $primaryFont;
      font-size: 1.4rem;
      &:hover,
      &:focus {
        opacity: 0.8;
        color: white;
        background-color: black;
        cursor: pointer;
      }
    }
  }
  .cartTotal {
    font-family: $primaryFont;
    font-size: 1.3rem;
    padding-top: 50px;
    padding-right: 30px;
    text-align: right;
    span {
      display: block;
    }
  }
}
