@media (max-width: 1000px) {
  .wrapper {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .albumList {
    li.artistResults {
      width: calc(100% / 2);
    }
  }
  div.cart {
    width: 100vw;
  }
}

@media (max-width: 600px) {
  header {
    h1 {
      font-size: 2.5rem;
      line-height: 60px;
    }
  }
  .albumList {
    li.artistResults {
      width: calc(80%);
    }
  }
}
