@import "variables";

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: $primaryFont;
  li {
    width: calc(100% / 4);
    margin-top: 100px;
    .albumName {
      font-size: 1rem;
    }
    .artistName {
      font-size: 0.75rem;
    }
    img {
      width: 100%;
    }
    .imageContainer {
      position: relative;
      width: 80%;
    }
    .addToCart {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      opacity: 0;
      text-align: center;
      padding-top: 40%;
      font-family: $primaryFont;
      font-size: 1.5rem;
      &:hover,
      &:focus {
        opacity: 80%;
        color: white;
        background-color: black;
        cursor: pointer;
      }
    }
  }
}

button {
  border-radius: 20px;
  padding: 10px;
  margin: 50px auto;
  background-color: black;
  font-family: $primaryFont;
  font-size: 1.5rem;
  width: 200px;
  color: ivory;
  transition: 0.2s;
  display: block;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #333;
  }
}
